# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle

#chaincodes executables
chaincode/money/money
chaincode/offers/offers
chaincode/subscriptions/subscriptions

#network artifacts
semproj_net/channel-artifacts/
semproj_net/crypto-config/
semproj_net/organizations/
