# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle

#chaincodes executables
fabric-samples/chaincode/semproj/money/money
fabric-samples/chaincode/semproj/offers/offers
fabric-samples/chaincode/semproj/subscriptions/subscriptions

#network artifacts
fabric-samples/semproj_net/channel-artifacts/
fabric-samples/semproj_net/crypto-config/
